spring:
  application:
    name: emotiapp
  datasource:
    url: jdbc:postgresql://localhost:5433/emotiapp_db
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: admin123
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true