spring:
  application:
    name: emotiapp
  datasource:
    url: jdbc:postgresql://localhost:5432/emotiapp_db
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
